/* Reset Line */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

main {
    flex: 1;
    /* This pushes down the footer by taking up all available space */
}

body {
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

:root {
    --font: "Google Sans", sans-serif;
}

nav {
    font-family: var(--font);
    color: rgb(245, 245, 245);
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px;
    font-size: 30px;
    position: -webkit-sticky;
    /* For Safari compatibility */
    position: sticky;
    top: 20px;
    z-index: 1000;
}

nav ul li a,
nav div {
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: #15151538;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* 1. The Main Container */
.memo {
    column-count: 3;
    column-gap: 16px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 16px;
}

/* 2. Each Individual Pin Container */
.pin {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 15px;
    overflow: hidden;
}

/* 3. The Images inside the Pins */
.pin img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

footer p {
    font-family: var(--font);
    font-weight: 500;
    color: rgb(37, 37, 37);
}

/* 4. Responsive Design for Mobile Screens */
@media (max-width: 768px) {
    .memo {
        column-count: 2;
        column-gap: 10px;
    }

    nav {
        font-size: 20px;
        margin: 20px 30px;
    }

    nav ul li a,
    nav div {
        border-radius: 10px;
    }

    .pin {
        margin-bottom: 10px;
        border-radius: 10px;
    }
}